<!DOCTYPE html>
<html>
  <head>
    <title>Soiled It</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0ys9K98EUO4SVDlxFAeXP9vNUcZckwdk&libraries=visualization&callback=initMap"
    async defer></script>
    <script src="../static/mapControl.js"></script>
  </head>
  <body>
    <div id = "header">
      <a href="index.html" class="logo">
        <!--image goes here-->
      </a>
      <ul id = "navigation">
        <li>
          <a href = "https://github.com/camcuz97/SoiledIt"> GITHUB </a>
        </li>
        <li>
          <a href = "about.html"> DEVELOPERS </a>
        </li>
      </ul>
      <button class = "calc_button" id = "da_button" onClick="travel();"> CALCULATE </button>
    </div>
    <div id="map"></div>
  </body>
</html>
