#map {
    height: 100%; 
  	width: 100%; 
  	position:absolute; 
  	top: 0px; 
 	left: 0; 
 	z-index: 0;
      }
body{
  background-color: #74C5E8;
}
#header {
    text-align: center;
	  position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 60%;
    height: 15vh;
    z-index: 1;
    margin: 0 auto;
    background-color: #8A8A8A;
    opacity: .8;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
}
#header a.logo {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 340px;
}
#header a.logo img {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}
#header ul {
  margin: 0;
  padding: 12vh 0 0;
}
#header ul li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 10vw;
}
#header ul li a {
  color: #000000;
  display: inline-block;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 3px;
  text-decoration: none;
  text-transform: uppercase;
}
#header ul li a:hover, #header ul li.selected a {
  color: #E87722;
}
#github {
  padding-top: 1.5%;
	margin-left: 20%;
  font-size: 2em;
}
#list1{
  margin: 0;
  padding-top: 16vh;

}
#list2{
  margin: 0;
  padding-top: 0vh;
}
#developers ul li{
  list-style: none;
  display: inline-table;
  margin: 0;
  padding: 0 6vw;
}
.dev_profile{
  overflow: hidden;
  word-wrap: break-word;
  width: 20vh;
}
.calc_button {
    background-color: #454948;
    border: 0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}