<!DOCTYPE html>
<html>
  <head>
    <title>Soiled It</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <div id = "header">
      <a href="index.html" id="logo">
        <h2>Soiled.IT</h2>
      </a>
      <ul id = "navigation">
        <li>
          <a href = "https://github.com/camcuz97/SoiledIt"> GITHUB </a>
        </li>
        <li>
          <a href = "index.html"> MAP </a>
        </li>
      </ul>
    </div>
    <div id = "developers">
      <ul id = "list1">
        <li>
          <div id = "akane" class = "dev_profile">
            <div id = "akane_image" class = "profile_image">
              <img src = "../static/assets/akane_headshot.jpg" height = "150"/>
            </div>
            <h3 align = "center"> Akane <br>Shimomura</h3>
            <p id = "akane_descript" align = "center"><font size = "2.5">Accounting major at UIUC <br> Grad: May 2019</font></p>
          </div>
        </li>
        <li>
          <div id = "brian" class = "dev_profile">
            <div id = "brian_image" class = "profile_image">
              <img src = "../static/assets/brian_headshot.jpg" height = "150" />
            </div>
            <h3 align = "center"> Brian <br>Ritter</h3>
            <p id = "brian_descript" align = "center"><font size = "2.5">Computer Engineering major at UIUC <br> Grad: May 2019</font></p>
          </div>
        </li>
        <li>
          <div id = "cameron" class = "dev_profile">
            <div id = "cameron_image" class = "profile_image">
              <img src = "../static/assets/cam_headshot.jpg" height = "150" href = "https://www.linkedin.com/in/cameron-cuzmanko-40297210b" />
            </div>
            <h3 align = "center"> Cameron Cuzmanko</h3>
            <p id = "cam_descript" align = "center"><font size = "2.5">Computer Science major at UIUC <br> Grad: May 2019</font></p>
          </div>
        </li>
        <li>
          <div id = "eddy" class = "dev_profile">
            <div id = "eddy_image" class = "profile_image">
              <img src = "../static/assets/tempUser.png" height = "150" />
            </div>
            <h3 align = "center"> Eddy <br>Garcia</h3>
            <p id = "eddy_descript" align = "center"><font size = "2.5">Aerospace Engineering major at UIUC <br> Grad: May 2019</font></p>
          </div>
        </li>
      </ul>
      <ul id = "list2">
        <li>
          <div id = "george" class = "dev_profile">
            <div id = "george" class = "profile_image">
              <img src = "../static/assets/george_headshot.jpg" height = "150" />
            </div>
            <h3 align = "center"> George Aleksandrovich</h3>
            <p id = "george_descript" align = "center"><font size = "2.5">Computer Science + Math major at UIUC <br> Grad: May 2019</font></p>
          </div>
        </li>
        <li>
          <div id = "jasmine" class = "dev_profile">
            <div id = "jasmine" class = "profile_image">
              <img src = "../static/assets/jasmine_headshot.jpg" height = "150" />
            </div>
            <h3 align = "center"> Jasmine <br>Wang</h3>
            <p id = "jasmine_descript" align = "center"><font size = "2.5">Accounting Finance major at UIUC <br> Grad: May 2019</font></p>
          </div>
        </li>
        <li>
          <div id = "luke" class = "dev_profile">
            <div id = "luke" class = "profile_image">
              <img src = "../static/assets/luke_headshot.jpg" height = "150" />
            </div>
            <h3 align = "center"> Luke <br>Hanselman</h3>
            <p id = "luke_descript" align = "center"><font size = "2.5">Civil Engineering major at UIUC <br> Grad: May 2019</font></p>
          </div>
        </li>
        <li>
          <div id = "will" class = "dev_profile">
            <div id = "will" class = "profile_image">
              <img src = "../static/assets/will_headshot.jpg" height = "150" />
            </div>
            <h3 align = "center"> Will <br>Armiros</h3>
            <p id = "will_descript" align = "center"><font size = "2.5">Computer Engineering major at UIUC <br> Grad: May 2019</font></p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
