<!DOCTYPE html>
<html>
  <head>
    <title>Soiled It</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"></link>
    <meta name="viewport" content="initial-scale=1.0"></meta>
    <meta charset="utf-8"></meta>
    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0ys9K98EUO4SVDlxFAeXP9vNUcZckwdk&libraries=visualization&callback=initMap"
    async defer></script>
    <script type="text/javascript" src="../static/mapControl.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <div id = "banner">
      <div id = "github">
        <a href = "https://github.com/camcuz97/SoiledIt"> GITHUB </a>
      </div>
    </div>
  </body>
</html>
